
div.graphic {
    display: inline-block;
    width: 500px;
    height: 500px;
    margin: 0px;
}

form.inputData {
    position: fixed;
    padding: 20px 20px 10px 20px;
    background-color: #FFFFFF;
    width: 100%;
}